:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body{
    margin:0;
    padding:0;
}

* {
    scrollbar-width: thin!important;
    scrollbar-color: transparent transparent;
    transition: scrollbar-color 0.3s ease;
    -webkit-overflow-scrolling: touch; /* Fix for iOS smooth scrolling */
    pointer-events: auto; /* Ensure pointer events work properly */
}

/* WebKit Scrollbar */
::-webkit-scrollbar {
    width: 1px!important; /* Global scrollbar width */
    height: 1px!important; /* For horizontal scrollbars */
}

::-webkit-scrollbar-thumb {
    background-color: transparent!important; /* Transparent initially */
    border-radius: 0.375rem; /* Rounded scrollbar */
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.01); /* Prevents repainting on macOS */
}


/* Scrollbar track */
::-webkit-scrollbar-track {
    background: transparent!important; /* Transparent background */
}